body {
    background-color: rgb(137, 210, 235);
    height: 100%;
    width: 100%;
  }

#game-container{
    align-content: center;
    text-align: center;
}

#game{
    margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
  
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: 15%;
}


