body {
    background-color: rgb(137, 210, 235);
    height: 100%;
    width: 100%;
  }
  
canvas {
    position: absolute;
    display: inline-block;
    left: 210px;
    bottom: 50px;
  }

#logo {
    position: absolute;
    height: 10%;
    left: 43%;
    top: 10px;
    display: inline-block;
}

#game-box{
    text-align: center;
    align-items: center;
}

#game{
    display: inline-block;
}

#game-container{
    position: absolute;
    left: -4%;
    top: 97.5%;
    z-index: -1;
}

#bg-image{
    height: 100%;
    width: 90%; 
}

#bg-image-game{
    position: absolute;
    left: 5%;
    top: 0.5%;
    height: 90%;
    width: 90%;
    z-index: 1;
}

#back-arrow{
    position: absolute;
    bottom: 11%;
    left: 32%;
    width: 20%;
    height: 20%;
}

/*Splash Screen*/
#start-text{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 25%;
    left: 40%;
    font-size: 32px;
}

/*Main Menu*/
#menu-options{
    position: absolute;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    bottom: 34%;
    left: 30%;
}

.menu-options-text:hover{
    text-decoration: underline;
}

#list-staff-start{
    position: absolute;
    width: 300px;
    left: 250px;
    bottom: 180px;
    display: none;
}

#list-staff-level{
    position: absolute;
    width: 300px;
    left: 250px;
    bottom: 110px;
    display: none;
}

#list-staff-control{
    position: absolute;
    width: 300px;
    left: 250px;
    bottom: 40px;
    display: none;
}

#list-staff-about{
    position: absolute;
    width: 300px;
    left: 250px;
    bottom: -35px;
    display: none;
}

/*About Menu*/

#bg-text{
    font-size: xx-large;
    position: absolute;
    top: 35%;
    left: 33%;
}

#about-text{
    font-size: xx-large;
    position: absolute;
    top: 55%;
    left: 33%;
}

/*Level Select Menu*/
#level-options{
    position: absolute;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    bottom: 27%;
    left: 32%;
}

.level-options-text:hover{
    text-decoration: underline;
}
#list-staff-jungle{
    position: absolute;
    width: 300px;
    left: 250px;
    bottom: 275px;
    display: none;
}
#list-staff-mountain{
    position: absolute;
    width: 300px;
    left: 250px;
    bottom: 145px;
    display: none;
}
#list-staff-sky{
    position: absolute;
    width: 300px;
    left: 250px;
    bottom: 15px;
    display: none;
}

#jungle-level-one{
    font-size: x-large;
}

#jungle-level-two,
#mountain-level-one, #mountain-level-two,
#sky-level-one, #sky-level-two{
    font-size: x-large;
    color: darkgrey;
}